{% extends 'master_blogs.html' %}

{% block content %}

<br><br>
<form action="" method="GET">
    <input type="text" name="query" placeholder="Title/Content">
    <input type="submit">
</form>

<h3>List of the searched blogs: </h3>
<p>Search results for "{{ query}}"</p>
{% if query %}
<ul>
    {% for object in object_search_list %}
        {% if object.title %}
            <li>
                <h3>Author: {{object.user.username}}</h3>
                {{object.title}}
                <a href='{{ object.get_absolute_url }}'>Details</a>
                <br>
                {{object.content}}
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}


<h3>List of all the blogs: </h3>
<ul>
    {% for object in object_list %}
        {% if object.title %}
            <li>
                <p>Author: {{object.user.username}}</p>
                {{object.title}}
                <a href='{{ object.get_absolute_url }}'>Details</a>
                <br>
                {{object.content}}
            </li>
        {% endif %}
    {% endfor %}
</ul>


{% endblock content %}